@media (max-width: 768px) {
  /* 임시 메뉴바 */
  /* Navbar */
  /* 임시 네비게이션 바 */
  /* 원래는 안쓰지만, github에서는 xeicon을 불러오지 못하는 것 같다.. */
  .navbar{
    /* padding: 0 50px; */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    z-index: 10;
  }
  .navbar-container {
    background-color: #000;
    opacity: 0.75;
    /* float: right; */
    padding-right: 20px;
    width: 250px;
  }
  .navbar-mobile {
    display: block;
    width: 250px;
    padding: 20px;
    background-color: black;
    opacity: 0.75;
  }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar li {
    padding: 16px 0;
    display: block;
  }
  .navbar span {
    display: none;
  }
  .navbar a {
    text-decoration: none;
    color: #ebebeb;
    padding: 20px;
    font-weight: 500;
  }
  .navbar a:hover {
    color: #fff;
  }
  .toggle {
    display: none;
  }

  /* gnb */
  .gnb {
    text-align: center;
    width: 100%;
  }
  .gnb a {
    font-size: 2.5em;
    line-height: 2em;
  }

  /* Container */
  section:not(.welcome) {
    height: auto;
    padding: 20px;
  }
  section .inner {
    width: 100%;
  }
  .heading h1 {
    font-size: 2em;
  }
  .heading p {
    font-size: 1em;
  }
  .text-area {
    width: 100%;
  }
  section#skills {
    height: auto;
  }

  /* Section - About */
  section#about {
    height: 100%;
  }
  .about-details {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin: 25px;
  }
  .about-details > div {
    width: auto;
  }
  
  /* Section - Skills */
  .skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .items {
    width: 100%;
    grid-template-columns: repeat(1, 1fr)
  }
  .item.thum {
    width: 80%;
  }
  .item.thum .photo {
    width: 100%;
  }
  .skillboxes {
    width: 75%;
  }

  /* Section - Chrome Extension */
  .chrome-box {
    flex-direction: column;
    overflow: hidden;
  }
  .showcase-1 {
    display: none;
  }
  .showcase-2 {
    display: block;
  }
  #showcase-youtube {
    cursor: pointer;
  }
  .chrome-box-desc {
    width: 80%;
    margin: auto;
  }
}


@media (min-width: 769px) and (max-width: 1170px) {
  section {
    width: 100%;
  }
  .text-area {
    width: 100%;
  }
  section .inner {
    width: 100%;
  }
  section#about {
    height: 100%;
  }
  .about-details {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .about-details > div {
    width: auto;
  }
  section#skills {
    height: auto;
  }
  .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .items {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .item.thum {
    width: 100%;
  }
  .item.thum .photo {
    width: 100%;
  }
  .item.thum:nth-of-type(3) {
    grid-column: 1 / span 2;
    width: 50%;
  }
  .item.thum:nth-of-type(3) .photo {
    width: 100%;
  }

  .chrome-box {
    flex-direction: column;
  }
  .chrome-box-desc {
    width: 80%;
    margin: auto;
  }
}